.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 600px;
  height: 350px;
  border-radius: 15px;
  & .content__button {
    padding: 10px 35px;
    margin: 10px auto;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.12);
    transition-duration: 0.15s;
    color: #3498db;
    font-weight: 500;
    font-size: 16px;
    &:hover {
      background-color: #3498db;
      color: white;
    }
    &:active {
      background-color: #56badb;
      color: white;
    }
  }
  & .content__message {
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
  }
}
